Repository calpt/nothing-to-see-here, pull requests merged in 2020-07, with the labels that each got.

#11 Adding Min Dong (cdo) language
  adapters/pfeiffer/bert-base-multilingual-cased-cdo-wiki_houlsby.yaml
  adapters/pfeiffer/bert-base-multilingual-cased-cdo-wiki_pfeiffer.yaml
  adapters/pfeiffer/bert-base-multilingual-cased-en-wiki_houlsby.yaml
  tasks/text_lang/cdo.yaml
Labels: area/adapter, area/task

#16 added finnish adapters
  adapters/ukp/bert-base-multilingual-cased-fi-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-fi-wiki_pfeiffer.yaml
Labels: area/adapter

#17 added french adapters
  adapters/ukp/bert-base-multilingual-cased-fr-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-fr-wiki_pfeiffer.yaml
Labels: area/adapter

#18 updated finnish description
  adapters/ukp/bert-base-multilingual-cased-fi-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-fi-wiki_pfeiffer.yaml
Labels: area/adapter

#19 added Guarani adapter
  adapters/ukp/bert-base-multilingual-cased-gn-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-gn-wiki_pfeiffer.yaml
Labels: area/adapter

#20 added Ilokano adapter
  adapters/ukp/bert-base-multilingual-cased-ilo-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ilo-wiki_pfeiffer.yaml
Labels: area/adapter

#21 added Icelandic adapter
  adapters/ukp/bert-base-multilingual-cased-is-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-is-wiki_pfeiffer.yaml
Labels: area/adapter

#22 added Japanese adapter
  adapters/ukp/bert-base-multilingual-cased-ja-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ja-wiki_pfeiffer.yaml
Labels: area/adapter

#23 added Javanese adapter
  adapters/ukp/bert-base-multilingual-cased-jv-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-jv-wiki_pfeiffer.yaml
Labels: area/adapter

#24 added Meadow Mari and Korean adapter
  adapters/ukp/bert-base-multilingual-cased-ko-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ko-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-mhr-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-mhr-wiki_pfeiffer.yaml
Labels: area/adapter

#25 added Maori and Quechuan adapter
  adapters/ukp/bert-base-multilingual-cased-mi-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-mi-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-qu-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-qu-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-ru-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ru-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-sw-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-sw-wiki_pfeiffer.yaml
Labels: area/adapter

#26 fixed qu and added Turkmen adapters
  adapters/ukp/bert-base-multilingual-cased-tk-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-tk-wiki_pfeiffer.yaml
Labels: area/adapter

#28 fixed config of fi adapters
  adapters/ukp/bert-base-multilingual-cased-fi-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-fi-wiki_pfeiffer.yaml
Labels: area/adapter

#30 updated cliftons mrpc weights with new config setting, need for fusion
  adapters/calpt/bert-base-uncased_sst-2_pfeiffer.yaml
Labels: area/adapter

#31 updated cliftons mrpc weights with new config setting, need for fusion
  adapters/calpt/bert-base-uncased_mrpc_pfeiffer.yaml
  adapters/calpt/bert-base-uncased_sst-2_pfeiffer.yaml
Labels: area/adapter

#32 adding task linguistic acceptability
  subtasks/text_task/linguistic_acceptability_cola.yaml
  tasks/text_task/linguistic_acceptability.yaml
Labels: area/task

#34 Adding cola adapters
  adapters/ukp/bert-base-uncased-cola_houlsby.yaml
  adapters/ukp/bert-base-uncased-cola_pfeiffer.yaml
Labels: area/adapter

#35 Adding mnli adapters
  adapters/ukp/bert-base-uncased-mnli_houlsby.yaml
  adapters/ukp/bert-base-uncased-mnli_pfeiffer.yaml
Labels: area/adapter

#36 Adding mrpc adapters
  adapters/ukp/bert-base-uncased-mrpc_houlsby.yaml
  adapters/ukp/bert-base-uncased-mrpc_pfeiffer.yaml
Labels: area/adapter

#37 Adding qnli adapter
  adapters/ukp/bert-base-uncased-qnli_houlsby.yaml
  adapters/ukp/bert-base-uncased-qnli_pfeiffer.yaml
Labels: area/adapter

#38 adding qqp and rte adapters
  adapters/ukp/bert-base-uncased-qqp_houlsby.yaml
  adapters/ukp/bert-base-uncased-qqp_pfeiffer.yaml
  adapters/ukp/bert-base-uncased-rte_houlsby.yaml
  adapters/ukp/bert-base-uncased-rte_pfeiffer.yaml
  adapters/ukp/bert-base-uncased-sst_houlsby.yaml
  adapters/ukp/bert-base-uncased-sst_pfeiffer.yaml
  adapters/ukp/bert-base-uncased-sts-b_houlsby.yaml
  adapters/ukp/bert-base-uncased-sts-b_pfeiffer.yaml
Labels: area/adapter

#40 deleted dummy adapters
  adapters/calpt/bert-base-uncased_mrpc_pfeiffer.yaml
  adapters/calpt/bert-base-uncased_sst-2_pfeiffer.yaml
  adapters/dummies/bert-base-en-wiki.yaml
  adapters/dummies/bert-base_bertforseqclass.yaml
  adapters/dummies/bert-base_clf-head.yaml
  adapters/dummies/bert-large-en-wiki.yaml
  adapters/dummies/bert-large-nli-mnli.yaml
  adapters/example-org/text_task-sst-bert-768-c315ba3bb3ccb683.yaml
Labels: area/adapter

#41 Sst 2 roberta
  adapters/ukp/roberta-base-sst_pfeiffer.yaml
Labels: area/adapter

#42 update sst-2 roberta
  adapters/ukp/roberta-base-sst_pfeiffer.yaml
Labels: area/adapter

#44 New tasks
  tasks/text_task/argument.yaml
  tasks/text_task/commonsense.yaml
Labels: area/task

#46 updated hellaswag file
  adapters/ukp/roberta-base-ukpsent1_pfeiffer.yaml
  subtasks/text_task/commonsense_hellaswag.yaml
Labels: area/adapter, area/task

#48 Adding madx base adapters
  adapters/ukp/xlm-roberta-base-ar-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-cdo-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-de-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-el-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-en-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-es-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-et-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-gn-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-hi-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-ht-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-id-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-ilo-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-is-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-it-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-ja-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-jv-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-mhr-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-mi-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-my-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-qu-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-ru-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-sw-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-ta-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-th-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-tk-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-tr-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-vi-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-xmf-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-base-zh-wiki_pfeiffer.yaml
  subtasks/text_lang/ht_wiki.yaml
  subtasks/text_lang/id_wiki.yaml
  subtasks/text_lang/it_wiki.yaml
  subtasks/text_lang/ta_wiki.yaml
  subtasks/text_lang/th_wiki.yaml
  subtasks/text_lang/tr_wiki.yaml
  subtasks/text_lang/vi_wiki.yaml
  tasks/text_lang/ht.yaml
  tasks/text_lang/id.yaml
  tasks/text_lang/it.yaml
  tasks/text_lang/ta.yaml
  tasks/text_lang/th.yaml
  tasks/text_lang/tr.yaml
  tasks/text_lang/vi.yaml
Labels: area/adapter, area/task

#50 ar adapter large
  adapters/ukp/xlm-roberta-large-ar-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-cdo-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-en-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-gn-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-ilo-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-is-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-ja-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-jv-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-mhr-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-mi-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-my-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-qu-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-sw-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-tk-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-xmf-wiki_pfeiffer.yaml
  adapters/ukp/xlm-roberta-large-zh-wiki_pfeiffer.yaml
Labels: area/adapter

#51 Madx mBERT adapter
  adapters/ukp/bert-base-multilingual-cased-ar-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-cdo-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-en-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-gn-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-ilo-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-is-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-ja-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-jv-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-mhr-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-mi-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-my-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-qu-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-sw-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-tk-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-xmf-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-zh-wiki_pfeiffer_relu.yaml
Labels: area/adapter

#56 Fixing bug lang names m bert
  adapters/ukp/bert-base-multilingual-cased-fr-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-gn-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-gn-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-ilo-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ilo-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-is-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-is-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-ja-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ja-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-jv-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-jv-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-ko-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ko-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-mhr-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-mhr-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-mi-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-mi-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-qu-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-qu-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-ru-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ru-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-sw-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-sw-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-sw-wiki_pfeiffer_relu.yaml
  adapters/ukp/bert-base-multilingual-cased-tk-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-tk-wiki_pfeiffer.yaml
Labels: area/adapter

#57 Adding further m bert languages
  adapters/ukp/bert-base-multilingual-cased-de-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-de-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-el-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-el-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-es-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-es-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-et-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-et-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-hi-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-hi-wiki_pfeiffer.yaml
  adapters/ukp/bert-base-multilingual-cased-ht-wiki_houlsby.yaml
  adapters/ukp/bert-base-multilingual-cased-ht-wiki_pfeiffer.yaml
Labels: area/adapter

#53 Add Roberta Adapters
  adapters/ukp/roberta-base-mrpc_houlsby.yaml
  adapters/ukp/roberta-base-qnli_houlsby.yaml
  adapters/ukp/roberta-base-qnli_pfeiffer.yaml
  adapters/ukp/roberta-base-sts_b_houlsby.yaml
  adapters/ukp/roberta-base-sts_b_pfeiffer.yaml
  adapters/ukp/roberta-large-mrpc_houlsby.yaml
  adapters/ukp/roberta-large-mrpc_pfeiffer.yaml
  adapters/ukp/roberta-large-qnli_houlsby.yaml
  adapters/ukp/roberta-large-sts_b_houlsby.yaml
  adapters/ukp/roberta-large-sts_b_pfeiffer.yaml
  dist/adapters/ukp/roberta-base-sts_b_houlsby.json
  dist/adapters/ukp/roberta-base-sts_b_pfeiffer.json
  dist/index_text_task/roberta-base.json
Labels: area/adapter

#59 Add Roberta large sst2 houlsby
  adapters/ukp/roberta-large-sst_houlsby.yaml
Labels: area/adapter
